{% extends 'home_page.html' %}

{% block content %}
    <div class="user-content-wrapper">
        {% if profile.is_complete %}
            {% for post in posts %}
                {% include 'blog/post_card.html' %}
            {% endfor %}
        {% else %}
            <a href={% url 'complete profile' %}><h2>Your profile is not completed. Plese complete!</h2></a>
        {% endif %}
    </div>
            <a href={% url 'edit profile' request.user.id %}><h2>Edit profile</h2></a>
{% endblock content %}





