{% extends 'home_page.html' %}
{% block content %}
    <div class="auth">
        <div class="form-box">
            <div class="button-box">
                <div id="btn-login"></div>      
                <a class="toggle-btn" href="{% url 'login' %}">LogIn</a>
                <a class="toggle-btn" href="{% url 'register' %}">Register</a> 
            </div>
            <div class='data-input'>
                <form class='data-input' method='POST' action={% url 'login' %}>
                    {% csrf_token %}
                    <hr>
                    {{form.email}}
                    {{form.password}}
                    <hr>
                    <input id='btn-submit' type='submit' value="Submit">
                    <hr>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

